.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.col-md-offset-3 {
    margin-left: 20%;
    margin-right: 20%;
}

.jumbotron {
    margin-left: 5%;
    margin-right: 5%;
}

/*.col-xs-offset-3 {*/
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
/*}*/